body {
  background-color: #eee;
}
#notifications {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 100;
}
#notifications .notification {
  background-color: rgb(113,241,191);
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}
#notifications .notification span {
  display: block;
  width: calc(100% - 20px);
  padding: 5px 10px;
}
#notifications .notification span.header{
  background-color: rgb(62,176,131);
  color: white;
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text; /* For safari compatability */
}
#outline-container {
  position: relative;
  width: 100%;
  max-width: 700px;
  min-height: 80vh;
  background-color: #fff;
  margin: 10vh auto;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#toolbar {
  margin: 0;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: rgb(62,176,131);

}
#toolbar button {
  border: 0;
}
.outline-item {
  display: block;
  padding: 10px;
  padding-left: 30px;
  /*background-color: rgb(156,250,219);*/
  background-image: url('../images/arrow-right.png');
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 10px 10px;
}
.outline-item.oi-drag-target {
  margin-bottom: 30px;
}
.outline-item:focus {
  outline: none;
}
.outline-item.oi-selected {
  border-bottom: 2px solid rgb(96,198,165);
  padding-bottom: 8px;
}
